@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$color-background: #F5F5F9;
$color-navbar: #222222;
$color-text: #181818;
$color-accent: #839FE3;
$color-accent-dark: #7777FF;

$navbar-height: 3rem;

$sidebar-width: 25%;

body {
    font-family: "Lato", "Segoe UI", Calibri, Ubuntu, sans-serif;
    font-size: 13pt;
    color: $color-text;
    background-color: $color-background;
}

a {
    text-decoration: none;
    color: $color-accent;
}

pre {
    background-color: #e0e0e0;
    overflow: auto;

    code {
        background-color: inherit;
    }
}

code {
    background-color: #e0e0e0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    background-color: #999999;
    color: white;

    &::-moz-focus-inner {
        border: none;
    }

    .fa-spin {
        font-size: 1.1rem;
        margin-left: 0.6rem;
    }

    &.btn-primary {
        background-color: #1f6cff;

        &[disabled=disabled] {
            cursor: default;
            background-color: #5792ff;
        }
    }

    >.fa-spin {
        display: none;
    }

    &[disabled=disabled] > .fa-spin {
        display: inline-block;
    }
}

// utility classes

.pseudo-link {
    color: $color-accent;
    cursor: pointer;
}

// /utility classes

// navbar

#navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: $color-navbar;
    color: $color-accent;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);

    #navbar-title {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 1.5rem;
        margin-top: 0.1rem;
        font-size: 2rem;
    }

    .spacer {
        flex-grow: 1;
        flex-shrink: 1;
    }

    #navbar-links {
        flex-grow: 0;
        flex-shrink: 0;
        float: right;

        .navbar-link {
            float: left;
            height: $navbar-height;
            padding-left: 1.4rem;
            padding-right: 1.4rem;
            line-height: 2.8rem;
            cursor: pointer;

            &.link-icon {
                font-size: 2rem;
            }

            &.link-text {
                font-size: 1.1rem;
            }

            &:hover {
                background-color: black;
            }

            a {
                width: 100%;
                height: 100%;
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

// /navbar

// page content

#container {
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1000px) {
        width: 100%;
    }

    @media (min-width: 1001px) {
        width: 60rem;
    }
}

#page-body {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 2rem;

    * {
        flex-shrink: 0;
    }
}

// /page content

// main content

#main-content {
    width: calc(#{100% - $sidebar-width} - 1rem);
    padding-right: 1.5rem;
}

.header {
    font-size: 1.4rem;
    color: $color-accent-dark;
    margin-bottom: 1rem;

    a {
        color: inherit;
    }
}

.form-section {
    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    &.form-error {
        color: #d00000;
        max-width: 60%;
    }

    .form-label {
        display: block;
        font-size: 0.9rem;

        &.required::after {
            content: '*';
            padding-left: 0.1rem;
            color: red;
        }
    }

    input[type=text], input[type=password] {
        width: 60%;
    }

    #edit-content-input {
        width: 100%;
        max-width: 100%;
        height: 35rem;
    }
}

#post-previews {
    margin-bottom: 1rem;
}

.post {
    &:not(:last-child) {
        border-bottom: solid black 1px;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .post-header {
        @extend .header;
    }

    .post-footer {
        .post-signature {
            color: $color-accent-dark;
            text-align: right;
            margin-bottom: 0.8rem;
        }

        .post-controls {
            text-align: right;

            .post-controls-section {
                &:not(:last-child) {
                    margin-bottom: 0.2rem;
                }

                .post-control {
                    &:not(:last-child) {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
    }
}

#pager {
    text-align: center;

    .pager-label {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }

    .pager-control {
        font-size: 1.6rem;
        user-select: none;

        &:not(:first-child) {
            margin-left: 0.2rem;
        }

        &:not(:last-child) {
            margin-right: 0.2rem;
        }

        &.disabled {
            color: #bbbbbb;
        }

        a {
            color: $color-accent-dark;
        }
    }
}

// /main content

// sidebar

#sidebar {
    width: $sidebar-width;
    margin-bottom: 1rem;

    .sidebar-section {
        .sidebar-header {
            margin-bottom: 0.6rem;
            font-size: 1.4rem;
            color: $color-accent-dark;
        }

        .sidebar-content {
            margin-left: 1rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .sidebar-link {
            margin-left: 0.3rem;
            line-height: 1.2rem;

            &:not(:last-child) {
                margin-bottom: 0.2rem;
            }
        }

        #post-list {
            list-style: circle;
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin-left: 0.5rem;
                margin-bottom: 0.5rem;

                &.older {
                    display: none;
                }
            }

            &.expanded {
                .older {
                    display: list-item;
                }
            }
        }

        #recent-control {
            margin-left: -1rem;
        }

        #archive-container {
            .archive-year {
                margin-bottom: 0.4rem;

                .archive-year-label {
                    cursor: pointer;

                    .archive-year-expander {
                        width: 0.6rem;

                        &.fa-caret-down {
                            margin-left: -0.2rem;
                            margin-right: 0.2rem;
                        }
                    }
                }

                .archive-year-body {
                    margin-left: 0.5rem;
                }

                &.collapsed {
                    .archive-year-body {
                        display: none;
                    }
                }
            }

            ul {
                margin: 0;
                padding-left: 1rem;
            }
        }

        #external-links {
            .sidebar-link {
                margin-bottom: 0.5rem;
            }
        }
    }
}

// /sidebar

// footer

#page-footer {
    width: 100%;
    text-align: center;
    border-top: solid 1px $color-text;
    padding-top: 1rem;
    margin-bottom: 1rem;

    .footer-section:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    .spacer {
        display: inline-block;
        width: 3rem;
    }
}

// /footer
